@import url("https://use.typekit.net/pwi7gtt.css");
:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: komet, sans-serif;
}

nav {
  display: flex;
  padding: 2rem 5rem;
  justify-content: space-between;
  background-color: #2856B8;
}
@media screen and (max-width: 600px) {
  nav {
    padding: 1rem 2.5rem;
  }
}
@media screen and (max-width: 480px) {
  nav {
    padding: 1rem 1rem;
  }
}
nav img {
  height: 60px;
  width: 60px;
  margin-right: 2rem;
}
nav ul {
  display: flex;
  gap: 2rem;
}
@media screen and (max-width: 800px) {
  nav ul {
    gap: 1rem;
  }
}
@media screen and (max-width: 480px) {
  nav ul {
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}
nav ul li {
  list-style: none;
}
nav ul li a {
  font-weight: bolder;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (max-width: 420px) {
  nav ul li a {
    font-size: 0.75rem;
  }
}
nav ul li a:hover {
  text-decoration-line: underline;
}

.home_quote {
  width: 100%;
  text-align: center;
  padding: 8rem;
  font-size: 2rem;
  color: #1A1919;
}
@media screen and (max-width: 800px) {
  .home_quote {
    padding: 5rem;
  }
}
@media screen and (max-width: 480px) {
  .home_quote {
    padding: 3rem;
  }
}

.home_main {
  padding: 0 5rem;
}
@media screen and (max-width: 600px) {
  .home_main {
    padding: 0 2.5rem;
  }
}
@media screen and (max-width: 480px) {
  .home_main {
    padding: 0 1rem;
  }
}
.home_main .home_first_sign {
  display: flex;
  gap: 2rem;
}
@media screen and (max-width: 800px) {
  .home_main .home_first_sign {
    flex-direction: column;
    align-items: center;
  }
}
.home_main .home_first_sign img {
  width: 60%;
  aspect-ratio: 4/3;
  border-radius: 1rem;
  object-fit: cover;
}
@media screen and (max-width: 800px) {
  .home_main .home_first_sign img {
    width: 100%;
  }
}
.home_main .home_first_sign .home_first_sign_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home_main .home_first_sign .home_first_sign_info div h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.home_main .home_first_sign .home_first_sign_info div p {
  line-height: 1.25rem;
  letter-spacing: 0.75px;
}
@media screen and (max-width: 1280px) {
  .home_main .home_first_sign .home_first_sign_info div p {
    letter-spacing: 0.25px;
  }
}
.home_main .home_first_sign .home_first_sign_info a {
  font-size: 1.25rem;
  text-align: end;
  margin: 2rem 0;
}
.home_main .home_other_sign {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin: 5rem 0;
}
.home_main .home_other_sign div h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 300;
}
.home_main .home_other_sign div img {
  aspect-ratio: 4/3;
  width: 100%;
  border-radius: 0.5rem;
}

.devis {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
@media screen and (max-width: 540px) {
  .devis {
    margin: 2rem 0;
  }
}
.devis h2 {
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}
.devis form {
  display: flex;
  gap: 3rem;
  padding: 2rem;
  border-radius: 1rem;
  border: #1A1919 solid 1px;
  justify-content: center;
}
@media screen and (max-width: 540px) {
  .devis form {
    flex-direction: column;
  }
}
.devis form .first {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 540px) {
  .devis form .first {
    gap: 1rem;
  }
}
.devis form .second {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.devis form .second input {
  background-color: #c41010;
  color: white;
  font-weight: bold;
}
.devis form input {
  padding: 0.25rem;
  border-radius: 0.5rem;
  border: solid 1px black;
}
.devis form textarea {
  padding: 0.25rem;
  border-radius: 0.5rem;
  border: solid 1px black;
  height: 20vh;
  margin-bottom: 2rem;
}

/*# sourceMappingURL=julien.css.map */
